* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    
}
@media(min-width:400px){

    p{
        font-size: 12px;
    }
    .container{
        flex-direction: row;
        width: 100vw;
    }
    ;
    .panel.active{   
        flex:2;
    }
    .background-image{
        /* max-width: 30%; */
        max-width: 20%;
        /* max-height: 30vh; */
        max-height: 20%;
    }
    

}
@media (min-width:768px) {
    p{
        font-size : 22px; 
    }
}
@media (min-width:1024px) {
    p{
        font-size : 19px;
    } 
        .container{
            width: 100vw;
        }
        .panel.active{
            flex:2;
        }
        .background-image{
            max-width: 20%;
            max-height: 20%;
        }
    }

@media (min-width:1280px) {
    p{
        font-size : 22px; 
    }
}
.container{
    display: flex;
    width: 90vw; 

}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex:0.2;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    margin: 0;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}
.panel.active{
    flex: 4;
}

